<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink='/'>{{title}}</a>
  </div>
</nav>

<div id="container" class="columns">
  <div class="column is-3">
    <aside class="menu">
      <p class="menu-label">
        Menu
      </p>
      <ul class="menu-list is-8">
        <li><a routerLink="/basic-form">Basic Form</a></li>
        <li><a routerLink="/reactive-form">Reactive Form</a></li>
        <li><a routerLink="/players">HTTP GET</a></li>
      </ul>

    </aside>
  </div>
  <div class="column">
    <!-- routerディレクティブ -->
    <!-- Componentをどこに表示するかをrouterに通知する -->
    <router-outlet></router-outlet>
  </div>
</div>
