<h2 class="title">Basic From</h2>

<p>送信したら、console.logで出力</p>

<div class="column is-4">
  <form #basicForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input class="input" [class.is-danger]="email.invalid"
               name="email" type="email" [(ngModel)]="user.email"
               required email #email="ngModel" />
      </div>
      <p class="help is-danger" *ngIf="email.errors?.required">
        Emailは必須項目です。
      </p>
      <p class="help is-danger" *ngIf="email.errors?.email">
        Emailの形式が不正です。
      </p>
    </div>
    <div class="field">
      <label class="label">ユーザー名</label>
      <div class="control">
        <input class="input" [class.is-danger]="name.invalid"
               name="name" type="text" [(ngModel)]="user.name"
               required minlength="2" maxlength="12" #name="ngModel" />
      </div>
      <p class="help is-danger" *ngIf="name.errors?.required">
        ユーザー名は必須項目です。
      </p>
      <p class="help is-danger" *ngIf="name.errors?.minlength">
        ユーザー名は2文字以上で入力してください。
      </p>
      <p class="help is-danger" *ngIf="name.errors?.maxlength">
        ユーザー名は12文字以内で入力してください。
      </p>
    </div>
    <div class="field">
      <div class="control">
        <button class="button is-primary" [disabled]="basicForm.invalid">
          送信
        </button>
      </div>
    </div>
  </form>
</div>
